---
import { Icon } from 'astro-icon';
---

<footer class="footer p-10 bg-neutral text-neutral-content mt-auto">
    <div>
        <p>
            <Icon name="bi:wordpress" class="h-10 w-10 mb-1" />
            Made for WCKolkata 2022 with by <a
                href="https://and249.codes/"
                target="_blank"
                class="underline decoration-[#26a69a] font-extrabold text-white decoration-4"
                >and249</a
            >
        </p>
    </div>
    <div>
        <span class="footer-title">Social</span>
        <div class="grid grid-flow-col gap-4 content-center">
            <a
                href="https://www.linkedin.com/in/anindo-neel-dutta-2a8050199/"
                target="_blank"
            >
                <Icon
                    name="mdi:linkedin"
                    class="h-7 w-7 hover:text-[#0A66C2]"
                />
            </a>
            <a href="https://www.instagram.com/and_249/" target="_blank">
                <Icon
                    name="ant-design:instagram-filled"
                    class="h-7 w-7 hover:text-[#E1306C]"
                />
            </a>

            <a
                href="https://github.com/leen-neel/astro-wordpress"
                target="_blank"
            >
                <Icon name="mdi:github" class="h-7 w-7 hover:text-[#fff]" />
            </a>
        </div>
    </div>
</footer>
