---
import '~/assets/base.css';
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="navbar bg-slate-800">
            <a class="btn btn-ghost normal-case text-xl text-red-600"
                >Dinos! 🦖</a
            >
        </div>

        <slot />
    </body>
</html>
